<div >
  <div style="background-color: #1F0226; height: 700px;display: flex; justify-content: center;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" >
    <div style="display: flex;flex-direction: column;align-items: center; justify-content: space-around;">
      <img style="width: 500px;" src="../assets/2.png" alt="">
      <button routerLink="/game"  style="background-color: #BCFF00; width: 185px; height: 60px;border-radius: 40px;font-size: 18px;font-weight: bold;">
        ESCOLHER
      </button>
    </div>
  </div>
</div>
