<div>
  <nav style="
  width: 100%;
  height: 150px;
  background-color: #1F0226;
  display: flex;
  justify-content: space-between;
  align-items: center;
">
    <img routerLink="/home"  style="height: 150px;" src="../../assets/2.png" alt="logo do Qual game">
    <a routerLink="/sobre"  style="text-decoration: none;
    font-family: 'Inter';
    color: wheat;
    font-size: 24px;
    font-weight: 700;
    margin-right: 34px;" href="">Sobre Nós</a>
  </nav>
  <div style="display: flex; justify-content: center;">
    <img src="../../assets/fundo.svg" alt="">
  </div>
</div>
